:root {
  --primary-light: #ddd;
  --primary-dark: #334942;
  --secondary-dark: #60726c;
  --secondary-dark-hover: #4a4f57;
  --secondary-dark-active: #5b5f68;
  --header: #1c352d;
  --primary-yellow: #fac650;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  padding: 40px 10px;
  background-color: var(--header);
}

.header__title {
  font-size: 60px;
  letter-spacing: 2.5px;
  color: var(--primary-yellow);
  font-family: "VT323", sans-serif;
}

main {
  margin-top: 40px;
  text-align: center;
}

.scoreboard {
  margin-bottom: 15px;
}

.scoreboard__info {
  font-size: 32px;
  margin-bottom: 5px;
}

.scoreboard__message {
  font-size: 20px;
  margin-bottom: 15px;
}

.scoreboard__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  padding: 10px 20px;
  margin: 0 auto;
}

.scoreboard__box {
  width: 170px;
}

.scoreboard__sign {
  font-size: 80px;
  margin-bottom: 10px;
}

.scoreboard__score {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.buttons__button {
  background-color: var(--secondary-dark);
}

.buttons--square {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.buttons--square:hover {
  background-color: var(--secondary-dark-hover);
}

.buttons__sign {
  font-size: 80px;
  margin-bottom: 10px;
}

footer {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--primary-dark);
  font-size: 20px;
}

p {
  margin-bottom: 10px;
}

.reset {
  background-color: var(--secondary-dark);
  color: var(--primary-light);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 40px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.reset:hover {
  background-color: var(--secondary-dark-hover);
}

@media screen and (max-width: 780px) {
  .header__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 590px) {
  .header__title {
    font-size: 40px;
  }
  .scoreboard__sign {
    font-size: 50px;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .buttons--square {
    width: 100px;
    height: 100px;
  }

  .buttons__sign {
    font-size: 50px;
  }
}

@media screen and (max-width: 400px) {
  .header__title {
    font-size: 30px;
  }
}
